<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="Project1"/>
<stringAttribute key="ATTR_TITANIUM_DEPLOY_TYPE" value="development"/>
<booleanAttribute key="ATTR_UPLOAD_DEBUG_SYMBOLS" value="false"/>
<stringAttribute key="appid" value="com.carter.project1"/>
<stringAttribute key="certificate" value="hepzat@live.com (3AKQELFDU6)"/>
<stringAttribute key="debug_config" value="::1457135597370:192.168.57.1,192.168.1.9"/>
<stringAttribute key="debug_hosts" value="192.168.57.1,192.168.1.9"/>
<stringAttribute key="device_id" value="0504ddb9baf4b26125ae73005fd99b92a7e2c675"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Project1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="9.2"/>
<stringAttribute key="uuid" value="c860c10e-e38f-44a2-95e3-b7930084f0f7"/>
</launchConfiguration>
